* {
    box-sizing: border-box;
}

html {
    background: black;
    color: white;

    font-family: "Red Hat Text", "Roboto", "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    display: grid;
    grid-template-rows: 4em 1fr 4em;
    grid-template-columns: 100vw;

    margin: 0;
    min-height: 100vh;
    width: 100vw;
}

header,
footer,
main {
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.375em;
    margin: 0.5em;
}

.navbar-item {
    color: white;
    font-size: 2.5rem;
    line-height: 0;
    transition: 250ms filter ease-in-out;
}

.navbar-item:hover,
.navbar-item:focus-visible {
    filter: drop-shadow(0 0 0.375em rgba(255 255 255 / 0.8));
}

.hero-image {
    width: 100%;
    max-width: 300px;
}

.copyright {
    font-size: 0.75rem;
    font-weight: 400;
}

.copyright:hover {
    text-decoration: underline;
}
