html {
    background: black;
    color: white;

    font-family: 'Red Hat Text', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;

    padding: 0;
}

body {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

h1 {
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Red Hat Display', 'Raleway', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    font-size: 3em;
    font-weight: 300;
}

p {
    text-align: justify;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 3em;
    padding: 0em 1em;
}

a {
    text-decoration: none;
}

hr {
    border: 0.5px solid white;
    margin: 2em auto;
}

.navbar {
    display: block;
    z-index: 1;
    text-align: center;
    margin: 0.5em;
}

.navbar-content {
    display: inline-block;
}

.navbar-item {
    display: inline-block;
    margin: auto;
}

.navbar-pulldown {
    text-align: center;
    display: block;
}

.button, .button:visited {
    /* cursor: default; */

    background: black;
    color: white;

    padding: 0.3em 0.5em;
    border: 1px solid white;
    border-radius: 0.1em;

    transition: 0.15s all linear;
}

.button:hover {
    color: #bbb;
    border-radius: 0.3em;
}

.button.primary {
    background: white;
    color: black;
}

.button.primary:hover {
    color: #444;
    background: #ddd;
}

.navbar-end {
    float: right;
    margin-right: 1em;
}

.container {
    max-width: 900px;
    margin: auto;
    display: inline-block;
    margin: auto 2em;
    /* display: flex; */
}

.row {
    display: block;
    text-align: center;
    margin: 2em auto;
}

.col {
    display: inline;
    margin: 0.5em;
}

.copyright h6 {
    font-weight: 400;
}

.copyright h6:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 615px) {
    .navbar-content, .navbar-item {
        display: block;
    }

    .container {
        margin: auto 0.5em;
    }
}